<html>
	<head>
		<title>김재연의 블로그입니다</title>
	</head>
	<body>
	<p>Hi there!</p>
	<p>It works!</p>
	<div>
            <h1><a href="">Jaeyeon Kim(김재연)'s Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>경희대에 재학중인 김재연입니다. 장고를 익히기 위한 블로그 입니다.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

	</body>
</html>